div.flexcomplete-line-common {
	clear: both;
}

div.flexcomplete-father, div.flexcomplete-line, div.flexcomplete-line-hover{

	color:#1b5374;
	background-color:#ffffff;
	font-family:Tahoma, Arial, sans-serif, Verdana;
	font-size:13px;
}

div.flexcomplete-father {
	
	border: 1px solid #235F26;
	position:absolute;
	visibility:hidden;	
	z-index:3000;
	cursor:default;
}

div.flexcomplete-line, div.flexcomplete-line-hover{

	border-width:0px;
	line-height:18px;		
	padding-left:5px;
	padding-right:3px;
}

div.flexcomplete-line-hover{
	background-color:#9ab9ff;
}

span.flexcomplete-filtro{	
	/*
	font-weight:bold;
	*/
}

div.flexcomplete-line-left{	
	font-size:11px;
	float: left;
}

div.flexcomplete-line-right{	
	font-size:11px;
	font-weight: bold;
	float: right;
}
